<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
      <h2>Here are your results: <%= @translated_text.piglatinize(@word) %> </h2>
      </form>
  </body>
</html>
